*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.jumbotron{
	background-color: yellow;
	color: black;
	width: 5px
}

body{
	font-family: 'open sans';
}

.contenedor{
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.titulo{
	color: #642a73;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}

.contenedor-sobre-nosotros{
	display: flex;
	justify-content: space-around;
}

.imagen-about-us{
	width: 48%;
}

.sobre-nosotros{
	width: 48%
}

.sobre-nosotros .contenido-textos h3{
	margin-bottom: 15Px;

}

.contenido-textos h3 span{
	background: #4d0686;
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}

.contenido-textos p{
	padding: 0px 0px 30px 15px;
	font-weight: 300;
	text-align: justify;
}

header{
	width: 100%;
	height: 600px;
	background: #bc4e9c;
	background: -webkit-linear-gradient(to right hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../imagenes/img1.jpg);
	background: linear-gradient(to right hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../imagenes/img1.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

header .textos-header{
      display: flex;
      height: 430px;
      width: 100;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
}

.textos-header h1{
	font-size: 50px;
	color: #fff;
}

.textos-header h2{
	font-size: 30px;
	font-weight: 300;
	color: #fff;
}

footer{
	background: #bc4e9c;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}
.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-around;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;

}

.content-foo{
	color: #fff;
	border-bottom: 3px solid #af20d3;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.content-foo p{
	color: #ccc;
}

.titulo-final{
	text-align: center;
	font-size: 24px
	margin: 20px 0 0 0;
	color: #9e9797;
}

nav{
	text-align: left;
	padding: 30px 20px 0 0;
}

nav > a{
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px
}

nav > a:hover{
	text-decoration: underline;
}

.wave{
	position: absolute;
	bottom: 0;
	width: 100%;

}

.footer-address-icon{
	padding-right: 10px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
}

.btn-reserva{
	width: 100%;
}

.tab-content{
	padding-top: 10px;
}